$color-black:       #272a37;
$color-black-light: #3a3f4f;
$color-blue:        #256cfe;
$color-blue-light:  #3A7AFE;
$color-navy:        #2468f2;
$color-pink:        #ee3465;
$color-gray:        #b1b8c6;
$color-smoky:       #cacaca;
$color-silver:      #e4e4e4;
$color-white:       #ffffff;
$color-white-dark:  #f4f4f4;
$color-red:         #f44336;