$color-black:  #272a37;
$color-blue:   #256cfe;
$color-navy:   #2468f2;
$color-pink:   #ee3465;
$color-gray:   #b1b8c6;
$color-smoky:  #cacaca;
$color-silver: #e4e4e4;
$color-white:  #ffffff;
$color-red:    #ff3300;