// EuclidCircular
@font-face {
    font-family: 'EuclidCircular';
    src: url(~@/assets/fonts/EuclidCircular/EuclidCircularA-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url(~@/assets/fonts/EuclidCircular/EuclidCircularA-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url(~@/assets/fonts/EuclidCircular/EuclidCircularA-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EuclidCircular';
    src: url(~@/assets/fonts/EuclidCircular/EuclidCircularA-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

// Circe
@font-face {
    font-family: 'Circe';
    src: url(~@/assets/fonts/Circe/Circe-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(~@/assets/fonts/Circe/Circe-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(~@/assets/fonts/Circe/Circe-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(~@/assets/fonts/Circe/Circe-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url(~@/assets/fonts/Circe/Circe-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

// ObjectSans
@font-face {
    font-family: 'ObjectSans';
    src: url(~@/assets/fonts/ObjectSans/ObjectSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ObjectSans';
    src: url(~@/assets/fonts/ObjectSans/ObjectSans-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}