/* Глобальеые классы, доступные во всем проекте!
  Идентефикатор, с которого начинается название каждого глобального класса -> cb
  (сокращенно от названия проекта "code-build") */

  .cb {
    // flex
    &_center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_row {
      display: flex;
      flex-direction: row;
    }

    &_row-between {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &_row-center {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &_column {
      display: flex;
      flex-direction: column;
    }
  
    &_column-between {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    
    &_column-center {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // margin-top
    &_top15 {
      margin-top: 15px;
    }

    &_top35 {
      margin-top: 35px;
    }

    &_top70 {
      margin-top: 70px;
    }

    // margin-left
    &_left5 {
      margin-left: 5px;
    }

    &_left17 {
      margin-left: 17px;
    }

    &_left30 {
      margin-left: 30px;
    }
  }
  