@import '~@/assets/scss/flex.scss';
@import '~@/assets/scss/colors.scss';
@import '~@/assets/scss/generate.scss';
@import '~@/assets/scss/notification.scss';

.container {
  width: 1160px;
  min-height: 820px;
  padding: 100px 0px 110px 0px;
}