@import '~@/assets/scss/flex.scss';
@import '~@/assets/scss/colors.scss';
@import '~@/assets/scss/notification.scss';

.custom-scroll {
    // https://xhtml.ru/2020/css/css-scrollbars/
    @media screen and (min-width: 1160px) {
        scrollbar-width: auto;
        scrollbar-color: #cacaca;
        
        /* для Chrome/Edge/Safari/Opera */
        &::-webkit-scrollbar {
            height: 3px;
            width: 3px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 2px;
            background-color: #cacaca;
        }
    }
}

.container {
    width: 100%;
    max-width: 1160px;
    min-height: 820px;
    padding: 100px 0px 110px 0px;
}

@media screen and (max-width: 1160px) {
    .container {
        padding: 100px 20px 110px 20px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 33px 20px 20px 20px;
    }
}