@import '~@/assets/scss/flex.scss';
@import '~@/assets/scss/colors.scss';
@import '~@/assets/scss/generate.scss';
@import '~@/assets/scss/notification.scss';

.container {
    width: 100%;
    max-width: 1160px;
    min-height: 820px;
    padding: 100px 0px 110px 0px;
}

@media screen and (max-width: 1160px) {
    .container {
        padding: 100px 20px 110px 20px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 33px 20px 20px 20px;
    }
}