#notification-field {
    position: fixed;
    top: 50px;
    right: 16px;
    z-index: 10;
}

.notification {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 420px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 50px;
    border-radius: 4px;
    font-family: 'Circe';
    color: $color-white;
    font-size: 16px;
    background: green;
    animation: anim 6s ease-in-out forwards;

    &.error {
      background: $color-red;
    }
    &.warning {
      background: orange;
    }
    &.success {
      background: green;
    }

    &:before {
      display: block;
      position: absolute;
      left: 10px;
      content: '!';
      border-radius: 50%;
      border: 2px solid $color-white;
      width: 20px;
      height: 20px;
      line-height: 22px;
      text-align: center;
      color: $color-white;
      font-weight: 600;
    }
}

@keyframes anim {
    0% {
      opacity: 0;
      right: -500px;
    }
    20% {
      opacity: 1;
      right: 0px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      right: 0px;
    }
}